<div id="container_resume">
  <h2>Resume</h2>
  <p>Un pequeño resumen de las experiencias que tuve y la educación obtenida</p>
  <div class="resume">
    <div class="education">
      <h3>Educacion</h3>
      <ul>
        <li>
          <div class="circle_list"></div>
          <h4>Front-End React</h4>
          <p>
            Titulo obtenido en la institución durante el curso de Full Stack de
            Coder House, esta compuesto por tres cursos: Desarrollo web,
            Javascript y React
          </p>
        </li>
        <li>
          <div class="circle_list"></div>
          <h4>Full Stack Developer</h4>
          <p><strong>...En curso en SoyHenry, stack PERN</strong></p>
        </li>
        <li>
          <div class="circle_list"></div>
          <h4>Full Stack Developer</h4>
          <p><strong>...En curso en CoderHouse, stack MERN</strong></p>
        </li>
        <li>
          <div class="circle_list"></div>
          <h4>Curso de Fundamentos de la programacion</h4>
          <p>
            Obtenido en la Universidad Tecnologica Nacional Facultad Regional
            Buenos Aires
          </p>
        </li>
      </ul>
    </div>
    <div class="work_experience">
      <h3>Experiencia Laboral:</h3>
      <ul>
        

        <li>
          <div class="circle_list"></div>
          <h4>Teaching Assistent</h4>
          <p>Ayudante de bootcamp (TA) para alumnos de Desarrollo Full-Stack.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
