<div id="container_about">
  <h2>Sobre Mi</h2>

  <div class="info_about">
    <img src="../../../../assets/marleyYYo.jpg" alt="" />
    <div>
      <h3>Full Stack Developer</h3>
      <p>
        Buenass! soy Raul Ereño, un programador full stack especializado en el
        stack PERN, pero en el constante aprendizaje de otras tecnologias. Estos
        conocimientos los obtuve del bootcamp de SoyHenry, despues de muchas
        horas de estudio.
      </p>
      <ul>
        <li>Fecha de nacimiento: 26 de Agosto, 1997</li>
        <li>Años: 25</li>
        <li>Email: raulereno@gmail.com</li>
      </ul>
      <p>
        Despues de años de estudiar la misma carrera, en dos universidades distintas
        me di cuenta de ese campo no era para mi, que no me gustaban las leyes. Por
        eso al investigar y con el boom de esta profesión debido a la padenmia
        decidi de a poco ir estudiando esto, y realmente me gusto porque es un
        desafio constante para superarse a uno mismo con las cosas que hace y
        aprende.
      </p>
    </div>
  </div>
</div>
