#container_about{
    margin: 2rem 0 1rem 3rem;
    h2{
        margin-bottom: 1rem;
        margin-left: 1.9rem;
        border-bottom: 3px solid rgb(0, 0, 94);
        padding-bottom: 0.5rem;
        width: 90%;
        font-size: 1.8rem;
    }
    
    .info_about{
        display: flex;
        img{
            width: 20rem;
            height: 20rem;
            align-self: center;
        }
        h3{
            font-size: 1.4rem;
        }
        p{
            font-size: 1.2rem;
            margin: 0.5rem 0;
        }
        ul{
            list-style-type: none;
        li    {
            font-size: 1.2rem;
               }
        }
        div{
            align-self: center;
            display: flex;
            flex-direction: column;
            p{
                width: 80%;
            }
                  
        }
    }
}