#home{
    background-image: url("../../../../assets/prueba.jpg");
    width: 100%;
    height: 100vh;
    background-position: center left;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h1{
        font-size: 3.5rem;
        text-align: end;
        padding: 4rem 9rem 0 0;
    }
    p{
        text-align: end;
        font-size: 1.7rem;
        font-weight: 500;
        padding: 0rem 8.1rem 0 0;

    }
    .write{
        width: 16ch;
        overflow: hidden;
        white-space: nowrap;
        animation:apear 2s;
    }
    @keyframes apear {
        0%{
            opacity: 0;
        }
        50%{
            opacity: .5;
        }
        
    }
  
}